.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 40px;
}

/* Buttons */
.slideshowNumbers {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.arrowLeft {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.arrowRight {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

@media screen and (max-width: 600px) {
    .slide {
        height: 300px;
    }

    .arrowLeft {
        width: 15px;
        top: 47%;
    }

    .arrowRight {
        width: 15px;
        top: 47%;
    }

}