.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    padding: 40px 15px;
}

.logo {
    height: 70px;
}

.menu {
    color: var(--main-bg-color);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu_item {
    font-size: 20px;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width:600px) {
    .logo {
        height: 40px;
        padding: 0;
    }

    .menu_item {
        text-transform: uppercase;
    }
}